<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">bizarrechaos</h1>
    <p>
    nick = <span class="string">'{{ site.nick }}'</span>
    </p>
    <p>
    <span class="reserved">print </span><a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">'https://{{ site.source_code.server }}/<span class="reserved">{0}</span>'</span></a>.format(nick)
    </p>
    <p>
    <span class="reserved">print </span><span class="string">'<span class="reserved">{0}</span>@<span class="reserved">{0}</span>{{ site.mail.ext }}'</span>.format(nick)
    </p>
    <p>
    puts(<a href="{{ site.baseurl }}misc/pubkey.gpg.txt" target="_blank"><span class="string">"5E12 9ABC C2A9 564B C048  2DF9 D327 0D10 BC71 CF75"</span></a>);
    </p>
  </div>
</header>

{% include menu.html %}
