<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <a href="https://bizarrechaos.com"><h1 class="">/home/bizarrechaos</h1></a>
    <p>
    >>> nick = <span class="string">'{{ site.nick }}'</span>
    </p>
    <p>
    >>> <span class="reserved">print </span><span class="string">'<span class="reserved">{0}</span>@<span class="reserved">{0}</span>.{{ site.mail.ext }}'</span>.format(nick)
    </p>
    <p>
    >>> <span class="reserved">print </span><a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">'https://{{ site.source_code.server }}/<span class="reserved">{0}</span>'</span></a>.format(nick)
    </p>
    <p>
    >>> <span class="reserved">print </span><a href="https://twitter.com/bizarrechaos" target="_blank"><span class="string">'https://twitter.com/<span class="reserved">{0}</span>'</span></a>.format(nick)
    </p>
    <p>
    >>> <span class="reserved">print <a href="{{ site.url }}/pubkey/"><span class="string">'{{ site.fingerprint_key }}'</span></a>
    </p>
  </div>
</header>

{% include menu.html %}
